AUTH_HOST=auth
AUTH_PORT=8000

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=123
REDIS_DB=0

POSTGRES_PASSWORD=123qwe
POSTGRES_USER=app
POSTGRES_DB=auth_database
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_SCHEMA=auth

# Используется для сборки pytest контейнера
# EXECUTEFROMPATH необходим для корректного запуска тестирования
EXECUTEFROMPATH=/opt
TESTHOMEDIR=/opt/tests/functional

# Используется для сборки api контейнера
APPHOMEDIR=/opt/app
USERNAME=movies
USER_UID=1001
USER_GID=1001
