async-timeout==4.0.2 ; python_version >= "3.11" and python_version <= "3.11.2"
attrs==23.1.0 ; python_version >= "3.11" and python_version < "4.0"
bcrypt==4.0.1 ; python_version >= "3.11" and python_version < "4.0"
certifi==2023.7.22 ; python_version >= "3.11" and python_version < "4"
charset-normalizer==3.2.0 ; python_version >= "3.11" and python_version < "4"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "4.0" and sys_platform == "win32"
idna==3.4 ; python_version >= "3.11" and python_version < "4"
iniconfig==2.0.0 ; python_version >= "3.11" and python_version < "4.0"
packaging==23.1 ; python_version >= "3.11" and python_version < "4.0"
pluggy==1.2.0 ; python_version >= "3.11" and python_version < "4.0"
psycopg==3.1.8 ; python_version >= "3.11" and python_version < "4.0"
pydantic==1.10.7 ; python_version >= "3.11" and python_version < "4.0"
pytest-order==1.1.0 ; python_version >= "3.11" and python_version < "4.0"
pytest==7.2.2 ; python_version >= "3.11" and python_version < "4.0"
redis==4.5.4 ; python_version >= "3.11" and python_version < "4.0"
requests==2.28.2 ; python_version >= "3.11" and python_version < "4"
typing-extensions==4.7.1 ; python_version >= "3.11" and python_version < "4.0"
tzdata==2023.3 ; python_version >= "3.11" and python_version < "4.0" and sys_platform == "win32"
urllib3==1.26.16 ; python_version >= "3.11" and python_version < "4"
